# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System
.DS_Store
Thumbs.db

# Databases & Local state
*.db
*.db-journal
*.sqlite
dev.db
dev.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
dist/
build/

Software Requirements Specification Document_ASE LAB 2026 - RELAY (1).pdf
.freebuff